.primary-bg{
  background-color:#BED62F
}
.secondary-bg{
  background-color:#17469E
}

.jumbotron{
  background-image: linear-gradient(0deg, rgba(190,214,47, 0.4),rgba(190,214,47, 0.4)), url('../images/jumbotron.jpg');
  width: auto;
  height: 600px;
  background-size: cover;
  background-position: center;
  margin-top: 11px;

}
.jumbotron-2{
  background-image: url('../images/Activity_Playfield.jpg');
  width: auto;
  height: 600px;
  background-size: cover;
  background-position: center;
  margin-top: 11px;

}
.horizontal{
  width: 30% ;
  height: 25px ;
  background-color: #BED62F;
  position: absolute;
  margin-left:19%;
  margin-top: -5px;
}
.vertical{
  width: 80px ;
  height: 100px ;
  background-color: #BED62F;
}
.circle{
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color:#BED62F;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.parallax {
    /* The image used */
    
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("../images/parallax.jpg");
    background-color: rgba(0, 0, 0, 0.5);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 
  .wrapper h1
  {
    -webkit-writing-mode:vertical-rl; 
    -ms-writing-mode:tb-rl; 
    writing-mode:vertical-rl; 
  transform: rotate(-180deg)
  }

  section{
    padding-top: 5rem;
  }
 

@font-face /*perintah untuk memanggil font eksternal*/
  {
    font-family: 'Roboto-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');/*memanggil file font eksternalnya di folder nexa*/
  }
  @font-face
  {
    font-family: 'Roboto';
    src: url('../fonts/RobotoCondensed-Regular.ttf');/*memanggil file font eksternalnya di folder nexa*/
  }
 
  h1
  {
    font-family:'Roboto';
  }
  h2,h3,h4,h5,p,span{
  font-family:'Roboto';
}

.parallax p{
  color:rgb(202, 199, 199);
}
  @media (min-width: 320px) { 
    .horizontal{
      margin-left:58%;
      width: 30.5% ;
    }
    .vertical{
      height: 170px;
    }
    .wrapper h1
  {
  transform: rotate(-90deg);
  }
   }
  @media (min-width: 375px) {
    .horizontal{
      margin-left:50%;
      width: 37% ;
    }
    .vertical{
      height: 160px;
    }
   }
  @media (min-width: 425px) { 
    .horizontal{
      margin-left:45%;
      width: 38% ;
    }
    .vertical{
      height: 150px;
    }
  }
  @media (min-width: 768px) { 
    .horizontal{
      margin-left:30%;
      width: 15% ;
    }
    .wrapper h1
  {
    -webkit-writing-mode:vertical-rl; 
    -ms-writing-mode:tb-rl; 
    writing-mode:vertical-rl; 
  transform: rotate(-180deg)
  }
  }
  @media (min-width: 1024px) { 
    .horizontal{
      margin-left:25%;
      width: 21% ;
    }
  }
  @media (min-width: 1440px) { 
    .horizontal{
      margin-left:20%;
      width: 27% ;
    }
  }


@keyframes float {
    0%{transform: translate(0, 0)}
    50%{transform: translate(0, -10px)}
    100%{transform: translate(0, 0)}
}

.triangle {
    animation: float 3s infinite;
}
     